<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captcha</title>
</head>

<body>
    <img src="/captcha" alt="captcha">
    <form action="/verify" method="post">
        <label for="textCaptcha">Mr. Robot ????</label>
        <input type="text" id="textCaptcha" name="textCaptcha">

        <input type="button" value="Send">
    </form>

</body>

</html>